<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796621291344-4clrptedrf4dgdhhgvt3dnfui2knvrai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796621291344-4clrptedrf4dgdhhgvt3dnfui2knvrai</string>
	<key>API_KEY</key>
	<string>AIzaSyBOL_143PsVGmSE1IuaE-NuIv8hTrzzWa0</string>
	<key>GCM_SENDER_ID</key>
	<string>796621291344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutuland.flutterSandbox</string>
	<key>PROJECT_ID</key>
	<string>tutuland-flutter-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>tutuland-flutter-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796621291344:ios:8e9ebb320adb495f</string>
	<key>DATABASE_URL</key>
	<string>https://tutuland-flutter-sandbox.firebaseio.com</string>
</dict>
</plist>